name: CI/CD

on:
  push:
    branches:
      - aditya_dev
      - dev
      - main
    paths:
<<<<<<< HEAD
      - 'env_deployments/gpu_deployments/**'
=======
      - .github/workflows/**
      - transformers/experiments/text1.txt
      - transformers/experiments/text2.txt
>>>>>>> c6451a2 (ga)

jobs:

  set_environment:
    runs-on: ubuntu-latest
    steps:
      - name: Get Branch Name
        run: |
          echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})"
          echo "${{ github.event.paths }}"
        id: get_branch_name

  deploy:
    environment: prod
    runs-on: ubuntu-latest
    env:
      MODAL_TOKEN_ID: ${{ github.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
      TEST_VAR: 'dev'

    steps:
      - name: print shit
        run: |
          echo "GITHUB_REF: ${GITHUB_REF#refs/heads/}"
          echo "Environment: $GITHUB_JOB"
          echo "TEST_VAR: ${{ env.TEST_VAR }}"

  deploy2:
    environment: prod
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.paths, 'transfomers/experiments/text2.txt') }}
    steps:
      - name: print other shit
        run: |
          echo "MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}"
          echo "MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}"
          echo "TEST_VAR: ${{ env.TEST_VAR }}"
          echo "DEPLOYMENT ENV: ${{ github.ref_name }}"

      # - name: Checkout Repository
      #   uses: actions/checkout@v2

      # - name: Install Python
      #   uses: actions/setup-python@v2
      #   with:
      #     python-version: "3.9"

      # - name: Install Modal
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install modal-client

      # - name: Deploy job
      #   run: |
      #     modal deploy gpu_deployments.modal_deployments.test_githubactions_modal